header ul
{
    list-style: none;
    padding: 0%;
    overflow: hidden;
    background-color: aqua;
    margin: 0%;
    margin-left: 38%;
    width: 318px;
}

header li
{
    float: left;
}

header li a
{
    text-decoration: none;
    color: palevioletred;
    display: block;
    padding: 10px;
    font-size: 150%;
}

header li a:hover
{
    background-color: lightgrey;
}

header
{
    background-color: white;
    padding: 10px;
    background-image: url(Spamtonlaugh.webp);
    background-size: 47px;
}