header ul
{
    list-style: none;
    padding: 0%;
    overflow: hidden;
    background-color: aqua;
    margin: 0%;
    margin-left: 37.5%;
    width: 329px;
}

header li
{
    float: left;
}

header li a
{
    color: palevioletred;
    display: block;
    padding: 10px;
    font-size: 150%;
    text-decoration: none;
}

header li a:hover
{
    background-color:#00ebe5;
}

header
{
    background-color: white;
    padding: 10px;
    background-image: url(/Spamtonlaugh.webp);
    background-size: 47px;
}



body
{
    background-color:palevioletred;
    color: white;
    text-align: center;
    background-image: url(/shrekWHATp.jpg);
    background-size: 15%;
}



table
{
    color: black;
    width: 720px;
    background-color: white;
}

th
{
    font-size: 150%;
    padding: 10px;
}

td
{
    text-align: left;
    padding: 10px;
}



a
{
    color: blue;
}



footer
{
    background-color: black; 
    padding: 10px;
}